<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/AuthStyle/signup.css"> 
</head>

<body class="signupBody">
    <div class="container">
        <div class="inputs">
            <form action="/signup" method="post" class="signupForm">
                <input type="text" placeholder="Enter Your Name" name="username" class="inputField"><br>
                <input type="password" name="password" class="inputField password" placeholder="Enter Password"><br>
                <button type="submit" class="signupBtn">SignUp</button>
            </form>
        </div>
        <div class="auth">
            <button class="btnAuth">
                <a href="/auth/google">Sign Up Using Google</a>
            </button>
        </div>
        <div class="account">
            <p class="accountText">Already Have Account!</p>
            <button class="loginBtn">
                <a href="/login" class="loginLink">Login</a>
            </button>
        </div>
    </div>
</body>

</html>